html,
body {
    height: 100%;
    width: 96%;
    background-color: #333;
    background: url("../images/back.jpg") repeat 0 0;
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Instructions */

#how {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 10px;
    color: #fff;
    font-weight: normal;
    font-family: lato;
    text-decoration: underline;
}

#howto {
    background: #1F253D;
}

.overlay {
    margin-top: 40px;
    margin-bottom: 20px;
    background: auto;
    position: absolute;
    color: #1DC5FF;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.content>div a {
    font-size: 0.8em;
    background: #e50ff0;
    position: relative;
    cursor: pointer;
    left: 5px;
    text-align: center;
    color: #95a5a6;
    padding: 0.5em 2em;
    margin-bottom: 50px;
    border-radius: 3px;
}

.content>div a:hover {
    background-color: #f20042;
}

.content p {
    text-align: center;
    left: 0%;
}

.content img {
    position: relative;
    bottom: 8px;
    left: 15%;
    vertical-align: middle;
    border: 2px solid orange;
}

p,
li {
    font-size: 14pt;
    left: 350px;
    font-weight: italic;
    color: #09eaea;
    font-family: lato;
    text-align: center;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul li {
    margin-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    float: center;
    text-align: left;
    color: #d4cbd2;
}

#X {
    color: green;
}

#O,
#ai,
#invalid {
    color: red;
}


/* Game */

.game {
    border: 10px;
}

header {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    padding-top: 5px;
    display: block;
    margin-bottom: 60px;
    position: relative;
    top: 10px;
    width: 100%;
}

h1 {
    padding-top: 15px;
    color: rgb(214, 213, 228);
}

h1 #tic {
    color: #f20042;
}

h1 #tac {
    color: #07b394;
}

h1 #toe {
    color: #e2b8c5;

}

a {
    color: #00AEEA;
    text-decoration: none;
}

a:hover {
    color: rgb(16, 0, 234);
}

a:visited {
    color: rgb(234, 55, 0);
}

#message {
    position: relative;
    left: 0px;
    bottom: 20px;
    font-weight: bolder;
    font-size: xx-large;
    color: red;
}

.rotate {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-duration: 0.4s;
}

/* ****************** Table style ****************** */

.table {
    color: #444;
    background: #e8d6d6;
    position: relative;
    top: -15px;
    left: 13px;
    font-size: 2.8em;
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 350px;
    text-align: center;
    border: none;
    box-shadow: 1px 1px 1px #CCC;
}

/*Column style*/
.table td {
    border-collapse: collapse;
    border-left: 5px solid #2f4f4f;
    border-bottom: 5px solid #2F4F4F;
}

.table td:first-child {
    border-left: none;
}

.table tr:last-child td {
    border-bottom: none;
}

/*Cells*/
.table td {
    cursor: pointer;
    height: 95px;
    width: 110px;
}

.table td:hover {
    background: #ECECEC;
}

/* ****************** Restart Button ****************** */

.buttons {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 7px;
    width: 150px;
    background: #e50ff0;
    font-size: 1.5em;
    color: rgb(2, 8, 14);
    border-radius: 6px;
    cursor: pointer;
    z-index: 1;
}

.buttons:hover {
    background: rgb(234, 55, 0);
}

.players #multiplayer {
    width: 190px;
}

.players #bnt-firststart,
.players #multiplayer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buttons:active {
    background: #0787B3;
}

.buttons:disabled {
    color: #444;
    background: #CECECE;
}

footer {
    position: relative;
    width: 100%;
    left: 0em;
    bottom: 25px;
    margin-top: 30px;
    text-align: center;
}

#color {
    color: rgb(0, 248, 181);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    position: relative;

}

.row-col-1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}